<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Names />
  </Properties>
  <Display currentTabName="CacheB" currentTabNumber="0" fontSize="15">
    <Graphs>
      <Graph name="Memory" number="0" applyLayout="false">
        <Node name="Memory" number="0">
          <x>6.0</x>
          <y>142.0</y>
        </Node>
      </Graph>
      <Graph name="CacheB" number="0" applyLayout="false">
        <Node name="CacheB" number="0">
          <x>8.0</x>
          <y>101.0</y>
        </Node>
      </Graph>
      <Graph name="CacheP" number="0" applyLayout="false">
        <Node name="CacheP" number="0">
          <x>8.0</x>
          <y>101.0</y>
        </Node>
      </Graph>
      <Graph name="Pallet" number="0" applyLayout="false">
        <Node name="Pallet1" number="0">
          <x>141.0</x>
          <y>158.0</y>
        </Node>
        <Node name="Pallet2" number="0">
          <x>501.0</x>
          <y>151.0</y>
        </Node>
        <Node name="Pallet3" number="0">
          <x>508.0</x>
          <y>316.0</y>
        </Node>
        <Node name="Pallet" number="0">
          <x>146.0</x>
          <y>324.0</y>
        </Node>
      </Graph>
      <Graph name="Belt" number="0" applyLayout="false">
        <Node name="Belt1" number="0">
          <x>826.0</x>
          <y>240.0</y>
        </Node>
        <Node name="Belt" number="0">
          <x>473.0</x>
          <y>230.0</y>
        </Node>
      </Graph>
      <Graph name="Robot" number="0" applyLayout="false">
        <Node name="Robot1" number="0">
          <x>948.0</x>
          <y>129.0</y>
        </Node>
        <Node name="Robot2" number="0">
          <x>948.0</x>
          <y>230.0</y>
        </Node>
        <Node name="Robot4" number="0">
          <x>948.0</x>
          <y>433.0</y>
        </Node>
        <Node name="Robot3" number="0">
          <x>948.0</x>
          <y>332.0</y>
        </Node>
        <Node name="Robot" number="0">
          <x>639.0</x>
          <y>247.0</y>
        </Node>
      </Graph>
    </Graphs>
  </Display>
</Configuration>

